@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Arpona';
    src: url(fonts/Arpona-Medium.otf); format:('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --beje: #efdfcc;
    --marrom: #594539;
    --verde-claro: #899d8e;
    --verde-escuro: #4e594c;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--beje);
    font-size: 1rem;
}

/* HEADER */

header {
    background-color: var(--verde-escuro);
    position: relative;
    padding: 0 2rem;
}
.logo img {
    width: 250px;
}
nav {
    background-color: var(--verde-escuro);
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
    
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    color: var(--beje);
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--verde-escuro);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.13);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}

.banner {
    background: url('imagens/banner2.jpg') no-repeat center center/cover;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}
.banner h1 {
    font-size: 400%;
    font-family: 'Roboto';
}
.banner p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-top: 20px;
}
.banner > button {
    background-color: #f5a03f;
    color: white;
    border: none;
    padding: 20px;
    margin: 10px;
    font-size: larger;
    border-radius: 10px;
}
.banner > button:hover {
    background-color: #ca6f08;
    transition: ease-in .3s;
}

#produto {
    text-align: center;
    font-family: Arpona;
    font-weight: normal;
    color: var(--verde-escuro);
    margin: 50px;
}
.destaques {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1400px;
    min-width: 320px;
    justify-content: space-around;
}
.produtos {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 300px;
    height: 400px;
    margin: 20px;    
    border-radius: 30px;

    & .more {
        text-align: center;
        font-family: 'Arpona';
        display: none;
    }
}
.produtos h2 {
    text-align: center;
    font-family: Arpona;
    color: var(--verde-escuro);
    padding: 10px;
}
.produtos img {
    align-items: center;
    width: 280px;
    height: 300px;
    padding: 10px;
}
.produtos:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.226);
    margin-bottom: 10px;
    transition: linear .3s;
    transform: scale(1.1);
    
    & .more {
        text-align: center;
        font-family: 'Arpona';
        display: block;
    }
}
#sobre-nos {
    width: 100%;
    background-color: whitesmoke;
    margin: auto;
}
#sobre-nos > h2 {
    margin: auto;
    font-size: 50px;
    text-align: center;
    font-family: Arpona;
    font-weight: normal;
    color: var(--verde-escuro);
    margin: 50px;
}
.paragrafo {
    max-width: 1500px;
    justify-content: center;
    margin: auto;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: normal;
    padding: 30px;
}
.paragrafo p {
    text-align: justify;
}
#banner_mobile img {
    width: 100%;
}
.banner-q {
    margin: 20px auto;
    max-width: 1400px;
    min-width: 320px;

    & img {
        width: 100%;
    }
}
.qualidade {
    background-image: url('imagens/background.jpg');
    background-position: center;
    background-size: cover;
    max-width: 1400px;
    display: flex;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.qualidade h2 {
    font-size: 26px;
    padding: 20px;
    color: white;
    font-family: 'Arpona';
    font-weight: 300;
}
.qualidade p {
    font-family: 'Roboto';
    max-width: 500px;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    padding-bottom: 30px;
    color: white;
}
.graca {
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 25px;

    & a {
        background-color: #18c908;
        margin: 20px;
        color: white;
        padding: 20px;
        border-radius: 30px;
        font-size: 30px;
    }
}
.graca h2 {
    font-family: 'Arpona';
    font-weight: 300;
    font-size: 35px;
    color: var(--verde-escuro);
    padding: 20px 20px 20px 0px;
}
.graca > p {
    font-family: 'Roboto';
    font-size: 20px;
}
.sofa-graça img {
    width: 100%;
    margin: auto;
}
.buy:hover {
    background-color: #0d6805;
}
#stores {
    background-color: whitesmoke;
    text-align: center;
    margin: auto;
    font-family: 'Arpona';
    font-weight: 300;
    font-size: 35px;
    padding: 10px;
}
.box {
    background-color: whitesmoke;
}
.lojas {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: space-between;

}
.content-box {
    font-family: 'Arpona';
    font-weight: lighter;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;

}
.content-box h2, p {
    padding: 10px;
}
footer {
    background-color: var(--verde-escuro);
    height: 300px;
    margin-top: 50px;
}
.button {
    background-color: #18c908;
    color: white;
    padding: 15px;
    border-radius: 110px;
    font-size: 20px;
}
@media(max-width: 800px){
    .hideOnMobile {
        display: none;
    }
    .banner {
        display: none;
    }
    .qualidade {
        display: flex;
        margin: auto;
        min-width: none;
        background-image: url('imagens/background-celular.jpg');
        background-position: center;
        background-size: cover;
        height: 1000px;
        justify-content: center;
    }
    .qualidade div {
        justify-items: top;
        align-items: center;
        height: 500px;
        min-width: 310px;
    }
    .qualidade h2 {
        text-align: center;
        min-width: 200px;
    }
    .qualidade p {
        min-width: 200px;
    }
    #p1, #p2, #p3, #p4 {
        display: none;
    }
}
@media(min-width: 800px){
    .btn {
        display: none;
    }
    #banner_mobile {
        display: none;
    }
    
}
/* PÁGINA DE PRODUTOS */

