@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Arpona';
    src: url(fonts/Arpona-Medium.otf); format:('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --beje: #efdfcc;
    --marrom: #594539;
    --verde-claro: #899d8e;
    --verde-escuro: #4e594c;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--beje);
    font-size: 1rem;
}

/* HEADER */

header {
    background-color: var(--verde-escuro);
    position: relative;
    padding: 0 2rem;
}
.logo img {
    width: 250px;
}
nav {
    background-color: var(--verde-escuro);
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
    
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    color: var(--beje);
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--verde-escuro);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.13);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}

.banner {
    background: url('imagens/banner.jpg') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}
.banner h1 {
    font-size: 400%;
    font-family: 'Roboto';
}
.banner p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-top: 20px;
}

#produto {
    text-align: center;
    font-family: Arpona;
    font-weight: normal;
    color: var(--verde-escuro);
    margin: 50px;
}
.destaques {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
    min-width: 320px;
    justify-content: space-around;
}
.produtos {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: solid 1px;
    width: 300px;
    height: 400px;
    margin: 20px 0;    
    border-radius: 30px;
}
.produtos h2 {
    text-align: center;
    font-family: Arpona;
    color: var(--verde-escuro);
    padding: 10px;
}
.produtos img {
    align-items: center;
    width: 280px;
    height: 300px;
    padding: 10px;
    border-radius: 30px;
}
.produtos:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.226);
    margin-bottom: 10px;
}
#sobre-nos {
    width: 100%;
    background-color: whitesmoke;
    margin: auto;
}
#sobre-nos > h2 {
    margin: auto;
    font-size: 50px;
    text-align: center;
    font-family: Arpona;
    font-weight: normal;
    color: var(--verde-escuro);
    margin: 50px;
}
.paragrafo {
    max-width: 1000px;
    justify-content: center;
    margin: auto;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: normal;
    padding: 30px;
}
.paragrafo p {
    text-align: justify;
}
#banner_mobile img {
    width: 100%;
}
.qualidade {
    max-width: 1000px;
    margin: auto;
    background-color: var(--verde-claro);
    border-radius: 10px;
}
.qualidade h2 {
    font-size: 26px;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Arpona';
    font-weight: 300;
}
.qualidade p {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: justify;
    padding: 0 30px;
    padding-bottom: 30px;
    color: white;
}
#stores {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Arpona';
    font-weight: 300;
    font-size: 35px;
    padding: 10px;
}
.box {
    background-color: whitesmoke;
    padding: 10px;
}
.lojas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    max-width: 1000px;
    padding: 30px;
}
.content-box {
    width: 300px;
    height: 400px;
    margin: auto;
    align-items: center;
    display: flex;
    padding: 30px;
}
.content-box div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.content-box img {
    width: 300px;
    padding: 10px;

}

footer {
    background-color: var(--verde-escuro);
    height: 300px;
    margin-top: 50px;
}
.button {
    background-color: #18c908;
    padding: 15px;
    border-radius: 110px;
    font-size: 20px;
}
@media(max-width: 800px){
    .hideOnMobile {
        display: none;
    }
    .banner {
        display: none;
    }
}
@media(min-width: 800px){
    .btn {
        display: none;
    }
    #banner_mobile {
        display: none;
    }
}
