@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Arpona';
    src: url(fonts/Arpona-Medium.otf); format:('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --beje: #efdfcc;
    --marrom: #594539;
    --verde-claro: #899d8e;
    --verde-escuro: #4e594c;
}
header {
    background-color: var(--verde-escuro);
}
.cabeca {
    margin: auto;
    max-width: 1050px;
    min-width: none;
    height: 160px;

}
.logo img {
    width: 250px;
    padding: 0 10px;
    margin: 10px;
}
.cabeca nav {
    display: block;
    float: right;
    background-color: var(--verde-escuro)
}
.cabeca nav > a {
    color: var(--beje);
    text-decoration: none;
    font-family: 'Roboto';
    padding: 20px;
    font-weight: bold;
}
.banner {
    background: url('imagens/banner.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}
.banner h1 {
    font-size: 400%;
    font-family: 'Roboto';
}
.banner p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-top: 20px;
}
#produto {
    text-align: center;
    font-family: Arpona;
    font-weight: normal;
    color: var(--verde-escuro);
    margin: 50px;
}
.destaques {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
    min-width: 320px;
    justify-content: space-around;
}
.produtos {
    display: flex;
    background-color: whitesmoke;
    border: solid 1px;
    width: 300px;
    height: 400px;
    margin: 20px 0;    
    border-radius: 30px;
}
.produtos img {
    align-items: flex-start;
    width: 280px;
    height: 300px;
    padding: 10px;
    border-radius: 30px;
}
#sobre-nos {
    max-width: 1000px;
    min-width: none;
    background-color: whitesmoke;
    margin: auto;
}
#sobre-nos > h2 {
    margin: auto;
    font-size: 75px;
    text-align: center;
    font-family: Arpona;
    font-weight: normal;
    color: var(--verde-escuro);
    margin: 50px;
}
#sobre-nos div {

}
